<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">
    <title>IPM Hackers| Verizon</title>
    <!-- Bootstrap core CSS -->
    <link href="../styles/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/vzbootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../scripts/html5shiv.min.js"></script>
      <script src="../scripts/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!--Global Navigation-->
    <header class="vz-global-header">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
          </div>
        </div>
      </nav>
    </header>

    <div class="container whitepage">
      <!-- Primary Navigation section -->
      <div id="primary-nav">
        <div class="row">
          <div class="col-sm-6 col-xs-2">
            <div class="page-header hidden-xs">
              <h1>VZ Bootstrap Page Layouts</h1>
              <ol class="breadcrumb hidden-xs">
                <li><a href="#">Home</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="starter-template">
        <h2>Verizon Bootstrap Framework</h2>
        <p class="lead">Demonstration of Various Page Layout Example's</p>
      </div>


      <!-- Two equal column layout - 12 columns -->
      <h3 class="text-brand-red">Single column wide layout - 12 columns</h3>
      <div class="row row-eq-height section-divider-bottom">
        <div class="col-xs-12 col-md-12">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem orci, imperdiet vitae nisi quis, pulvinar rhoncus lectus. Praesent ut sagittis lorem. Mauris ac dapibus ex. Duis id quam accumsan, fringilla ante at, volutpat quam. Cras et elementum enim. Nam rutrum ultricies purus. Donec aliquam feugiat congue. Curabitur eget dictum dui.

          Quisque quis malesuada augue, imperdiet tincidunt orci. Praesent blandit gravida augue eu scelerisque. Curabitur sed fermentum nulla, vitae porttitor eros. Integer eu tortor gravida, aliquet arcu quis, mattis sem. Vivamus finibus laoreet finibus. Vivamus sed elit porta, blandit ipsum ut, molestie velit. Sed non posuere massa, vel sollicitudin purus. Suspendisse molestie pellentesque erat nec mattis. Sed ac auctor risus. Donec fringilla, quam pellentesque venenatis interdum, velit turpis iaculis neque, vitae molestie lacus erat sit amet tellus. Duis sed dapibus nulla, non viverra sem. Cras quis nulla non est cursus euismod. Phasellus vulputate bibendum magna sollicitudin venenatis. Quisque pellentesque gravida sapien sed vulputate. Suspendisse urna velit, feugiat et mi et, sagittis sagittis nunc.</p>
        </div>
      </div>

      <!-- Two equal column layout - 6+6 columns -->
      <h3 class="text-brand-red">Two equal column layout - 6+6 columns</h3>
      <div class="row row-eq-height section-divider-bottom">
        <div class="col-sm-6 col-md-6 border-right">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem orci, imperdiet vitae nisi quis, pulvinar rhoncus lectus. Praesent ut sagittis lorem. Mauris ac dapibus ex. Duis id quam accumsan, fringilla ante at, volutpat quam. Cras et elementum enim. Nam rutrum ultricies purus. Donec aliquam feugiat congue. Curabitur eget dictum dui.

          Quisque quis malesuada augue, imperdiet tincidunt orci. Praesent blandit gravida augue eu scelerisque. Curabitur sed fermentum nulla, vitae porttitor eros. Integer eu tortor gravida, aliquet arcu quis, mattis sem. Vivamus finibus laoreet finibus. Vivamus sed elit porta, blandit ipsum ut, molestie velit. Sed non posuere massa, vel sollicitudin purus. Suspendisse molestie pellentesque erat nec mattis. Sed ac auctor risus. Donec fringilla, quam pellentesque venenatis interdum, velit turpis iaculis neque, vitae molestie lacus erat sit amet tellus. Duis sed dapibus nulla, non viverra sem. Cras quis nulla non est cursus euismod. Phasellus vulputate bibendum magna sollicitudin venenatis. Quisque pellentesque gravida sapien sed vulputate. Suspendisse urna velit, feugiat et mi et, sagittis sagittis nunc.</p>
        </div>
        <div class="col-sm-6 col-md-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem orci, imperdiet vitae nisi quis, pulvinar rhoncus lectus. Praesent ut sagittis lorem. Mauris ac dapibus ex. Duis id quam accumsan, fringilla ante at, volutpat quam. Cras et elementum enim. Nam rutrum ultricies purus. Donec aliquam feugiat congue. Curabitur eget dictum dui.

          Quisque quis malesuada augue, imperdiet tincidunt orci. Praesent blandit gravida augue eu scelerisque. Curabitur sed fermentum nulla, vitae porttitor eros. Integer eu tortor gravida, aliquet arcu quis, mattis sem. Vivamus finibus laoreet finibus. Vivamus sed elit porta, blandit ipsum ut, molestie velit. Sed non posuere massa, vel sollicitudin purus. Suspendisse molestie pellentesque erat nec mattis. Sed ac auctor risus. Donec fringilla, quam pellentesque venenatis interdum, velit turpis iaculis neque, vitae molestie lacus erat sit amet tellus. Duis sed dapibus nulla, non viverra sem. Cras quis nulla non est cursus euismod. Phasellus vulputate bibendum magna sollicitudin venenatis. Quisque pellentesque gravida sapien sed vulputate. Suspendisse urna velit, feugiat et mi et, sagittis sagittis nunc.</p>
        </div>
      </div>

      <!-- Two column right sidebar layout 9+3 columns -->
      <h3 class="text-brand-red">Two column right sidebar layout - 9+3 columns</h3>
      <div class="row row-eq-height section-divider-bottom">
        <div class="col-md-9 col-sm-9 border-right">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem orci, imperdiet vitae nisi quis, pulvinar rhoncus lectus. Praesent ut sagittis lorem. Mauris ac dapibus ex. Duis id quam accumsan, fringilla ante at, volutpat quam. Cras et elementum enim. Nam rutrum ultricies purus. Donec aliquam feugiat congue. Curabitur eget dictum dui.

          Quisque quis malesuada augue, imperdiet tincidunt orci. Praesent blandit gravida augue eu scelerisque. Curabitur sed fermentum nulla, vitae porttitor eros. Integer eu tortor gravida, aliquet arcu quis, mattis sem. Vivamus finibus laoreet finibus. Vivamus sed elit porta, blandit ipsum ut, molestie velit. Sed non posuere massa, vel sollicitudin purus. Suspendisse molestie pellentesque erat nec mattis. Sed ac auctor risus. Donec fringilla, quam pellentesque venenatis interdum, velit turpis iaculis neque, vitae molestie lacus erat sit amet tellus. Duis sed dapibus nulla, non viverra sem. Cras quis nulla non est cursus euismod. Phasellus vulputate bibendum magna sollicitudin venenatis. Quisque pellentesque gravida sapien sed vulputate. Suspendisse urna velit, feugiat et mi et, sagittis sagittis nunc.</p>
        </div>
        <div class="col-md-3 col-sm-3">
          <h4>Side Title</h4>
            <ul class="list-none">
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
            </ul>
            <h4>Side Title</h4>
            <ul class="list-none">
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
            </ul>
            <h4>Side Title</h4>
            <ul class="list-none">
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
            </ul>
            <h4>Side Title</h4>
            <ul class="list-none">
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
            </ul> 
        </div>
      </div>

      <!-- Two column left sidebar layout - 3+9 columns -->
      <h3 class="text-brand-red">Two column left sidebar layout - 3+9 columns</h3>
      <div class="row row-eq-height section-divider-bottom">
        <div class="col-md-3 col-sm-3 border-right">
            <h4>Side Title</h4>
            <ul class="list-none">
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
            </ul>
        </div>
        <div class="col-md-9 col-sm-9">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem orci, imperdiet vitae nisi quis, pulvinar rhoncus lectus. Praesent ut sagittis lorem. Mauris ac dapibus ex. Duis id quam accumsan, fringilla ante at, volutpat quam. Cras et elementum enim. Nam rutrum ultricies purus. Donec aliquam feugiat congue. Curabitur eget dictum dui.

          Quisque quis malesuada augue, imperdiet tincidunt orci. Praesent blandit gravida augue eu scelerisque. Curabitur sed fermentum nulla, vitae porttitor eros. Integer eu tortor gravida, aliquet arcu quis, mattis sem. Vivamus finibus laoreet finibus. Vivamus sed elit porta, blandit ipsum ut, molestie velit. Sed non posuere massa, vel sollicitudin purus. Suspendisse molestie pellentesque erat nec mattis. Sed ac auctor risus. Donec fringilla, quam pellentesque venenatis interdum, velit turpis iaculis neque, vitae molestie lacus erat sit amet tellus. Duis sed dapibus nulla, non viverra sem. Cras quis nulla non est cursus euismod. Phasellus vulputate bibendum magna sollicitudin venenatis. Quisque pellentesque gravida sapien sed vulputate. Suspendisse urna velit, feugiat et mi et, sagittis sagittis nunc.</p>
        </div>
      </div>

      <!-- Three column with content,  left & right sidebar layout - 3+6+3 columns -->
      <h3 class="text-brand-red">Three column with content,  left & right sidebar layout - 3+6+3 columns</h3>
      <div class="row row-eq-height">
        <div class="col-md-3 col-sm-3 border-right">
          <h4>Side Title</h4>
            <ul class="list-none">
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
            </ul>
            <h4>Side Title</h4>
            <ul class="list-none">
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
            </ul>
            <h4>Side Title</h4>
            <ul class="list-none">
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
            </ul>
            <h4>Side Title</h4>
            <ul class="list-none">
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
            </ul> 
        </div>
        <div class="col-md-6 col-sm-6 border-right">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem orci, imperdiet vitae nisi quis, pulvinar rhoncus lectus. Praesent ut sagittis lorem. Mauris ac dapibus ex. Duis id quam accumsan, fringilla ante at, volutpat quam. Cras et elementum enim. Nam rutrum ultricies purus. Donec aliquam feugiat congue. Curabitur eget dictum dui.

          Quisque quis malesuada augue, imperdiet tincidunt orci. Praesent blandit gravida augue eu scelerisque. Curabitur sed fermentum nulla, vitae porttitor eros. Integer eu tortor gravida, aliquet arcu quis, mattis sem. Vivamus finibus laoreet finibus. Vivamus sed elit porta, blandit ipsum ut, molestie velit. Sed non posuere massa, vel sollicitudin purus. Suspendisse molestie pellentesque erat nec mattis. Sed ac auctor risus. Donec fringilla, quam pellentesque venenatis interdum, velit turpis iaculis neque, vitae molestie lacus erat sit amet tellus. Duis sed dapibus nulla, non viverra sem. Cras quis nulla non est cursus euismod. Phasellus vulputate bibendum magna sollicitudin venenatis. Quisque pellentesque gravida sapien sed vulputate. Suspendisse urna velit, feugiat et mi et, sagittis sagittis nunc.</p>
        </div>
        <div class="col-md-3 col-sm-3">
          <h4>Side Title</h4>
            <ul class="list-none">
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
            </ul>
            <h4>Side Title</h4>
            <ul class="list-none">
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
            </ul>
            <h4>Side Title</h4>
            <ul class="list-none">
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
            </ul>
            <h4>Side Title</h4>
            <ul class="list-none">
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">consectetur adipiscing elit</a></li>
            </ul>
        </div>
      </div>
      <br />
    </div><!-- /.container -->


    <!-- Global Footer -->
    <footer class="container disclaimer padding-left-right-zero">
        <div class="row">
            <div class="col-md-8 col-xs-8">
                <p>Proprietary and Confidential. Not for disclosure outside of Verizon.</p>
            </div>
            <div class="col-md-4 col-xs-4">
                <p class="pull-right pull-mobile-none">Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                </p>
            </div>
        </div>
    </footer>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <script src="../scripts/jquery.min.js"></script>
  <script src="../scripts/bootstrap.min.js"></script>
  <script src="../scripts/vzbootstrap.min.js"></script>
  </body>
</html>
