<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>IPM Hackers| Verizon</title>
    <!-- Bootstrap core CSS -->
	  <link href="../styles/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/vzbootstrap.min.css" rel="stylesheet">
    <link href="../vz-components/vz-global-header/vz-global-header.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../scripts/html5shiv.min.js"></script>
      <script src="../scripts/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!--Global Navigation-->
    <header class="vz-global-header">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
          </div>

          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Link 1</a></li>
              
              <!-- One Column Dropdown Menu start -->
              <li class="dropdown">
                <a href="#">1 column</a>
                  <ul class="dropdown-menu fullwidth">
                    <li class="dropdown-content withdesc">
                      <div class="row-eq-height">
                        <div class="col-sm-12">
                          <ul>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                          </ul>
                      </div>
                    </li>
                  </ul>
              </li><!-- One Column Dropdown Menu End -->

              <!-- Two Column Dropdown Menu start -->
              <li class="dropdown">
                <a href="#">2 Column</a>
                  <ul class="dropdown-menu fullwidth">
                    <li class="dropdown-content withdesc">
                      <div class="row-eq-height">
                        <div class="col-sm-6">
                          <ul>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-6">
                          <ul>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
              </li><!-- Two Column Dropdown Menu End -->

              <!-- Three Column Dropdown Menu start -->
              <li class="dropdown">
                <a href="#">3 Column</a>
                  <ul class="dropdown-menu fullwidth">
                    <li class="dropdown-content withdesc">
                      <div class="row-eq-height">
                        <div class="col-sm-4">
                          <ul>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-4">
                          <ul>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            
                          </ul>
                        </div>
                        <div class="col-sm-4">
                          <ul>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
              </li><!-- Three Column Dropdown Menu End -->

              <!-- Four Column Dropdown Menu start -->
              <li class="dropdown">
                <a href="#">4 Column</a>
                  <ul class="dropdown-menu fullwidth">
                    <li class="dropdown-content withdesc">
                      <div class="row-eq-height">
                        <div class="col-sm-3">
                          <ul>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-3">
                          <ul>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-3">
                          <ul>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-3">
                          <ul>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
              </li><!-- Four Column Dropdown Menu End -->

              <!-- Five Column Dropdown Menu start -->
              <li class="dropdown">
                <a href="#">4 Column</a>
                  <ul class="dropdown-menu fullwidth">
                    <li class="dropdown-content withdesc">
                      <div class="row-eq-height">
                        <div class="col-sm-15">
                          <ul>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-15">
                          <ul>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-15">
                          <ul>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-15">
                          <ul>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-15">
                          <ul>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
              </li><!-- Five Column Dropdown Menu End -->

              <!-- Six Column Dropdown Menu start -->
              <li class="dropdown">
                <a href="#">6 Column</a>
                  <ul class="dropdown-menu fullwidth">
                    <li class="dropdown-content withdesc">
                      <div class="row-eq-height">
                        <div class="col-sm-2">
                          <ul>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                            <li><a href="#"> - Sub Link</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
              </li><!-- Six Column Dropdown Menu End -->

            </ul>
          </div><!--/.nav-collapse -->


        </div>
      </nav>
    </header>

    <div class="container whitepage">
      <!-- Primary Navigation section -->
      <div id="primary-nav">
        <div class="row">
          <div class="col-sm-6 col-xs-2">
            <div class="page-header hidden-xs">
              <h1>VZ Bootstrap Starter Template</h1>
              <ol class="breadcrumb hidden-xs">
                <li><a href="#">Home</a></li>
                <li class="active">Starter Template</li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <!-- Global Content Section -->
      <div class="row">
        <div class="col-md-12">
            &nbsp; 
        </div>
      </div>
    </div><!-- /.container -->

    <!-- Global Footer -->
    <footer class="container disclaimer padding-left-right-zero">
        <div class="row">
            <div class="col-md-8 col-xs-8">
                <p>Proprietary and Confidential. Not for disclosure outside of Verizon.</p>
            </div>
            <div class="col-md-4 col-xs-4">
                <p class="pull-right pull-mobile-none">Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                </p>
            </div>
        </div>
    </footer>

	<script src="../scripts/jquery.min.js"></script>
	<script src="../scripts/bootstrap.min.js"></script>
	<script src="../scripts/vzbootstrap.min.js"></script>
  </body>
</html>
