<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">
    <title>IPM Hackers| Verizon</title>
    <!-- Bootstrap core CSS -->
	  <link href="../styles/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/vzbootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../scripts/html5shiv.min.js"></script>
      <script src="../scripts/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    
    <!--Global Navigation-->
    <header class="vz-global-header">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
          </div>
        </div>
      </nav>
    </header>
    
    <div class="container whitepage">

      <!-- Primary Navigation section -->
      <div id="primary-nav">
        <div class="row">


          <div class="col-sm-6 col-xs-2">
            <div class="page-header hidden-xs">
              <h1>VZ Bootstrap User Profile</h1>
              <ol class="breadcrumb hidden-xs">
                <li><a href="#">Home</a></li>
                <li class="active">User Profile</li>
              </ol>
            </div>
          </div>

          <!--User Profile Menu-->
          <div class="col-sm-6 col-xs-10" >
            <div>
              <div class="dropdown pull-right pull-mobile-none" id="profile-menu">
                <span class="hidden-xs">Welcome,</span>
                <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-haspopup="true" aria-expanded="false">
                  <span class="name">User Name</span>
                  <span class="glyphicon glyphicon-chevron-down"></span>
                  <img alt="User's Profile Avatar" src="#">
                </a>
                <div role="menu" class="dropdown-menu profile-dropdown">
                  <div class="ui-tooltip-tip"></div>
                  <div class="user-info">
                    <div class="user-avatar">
                      <img class="user pull-left" title="User Profile Picture" alt="User Profile Picture" src="#">
                    </div>
                    <div class="user-links">
                      <h4><span>User Name</span></h4>
                      <ul class="list-unstyled">
                        <li><a title="Settings" href="#">My Profile</a></li>
                        <li><a title="Settings" href="#">Not User Name?</a></li>
                        <li><a title="Settings" href="#">Logout</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End User Profile dropdown -->

        </div>
      </div>

      <!-- Global Content Section -->
      <div class="row">
        <div class="col-md-12">
            &nbsp; 
        </div>
      </div>
    </div><!-- /.container -->

    <!-- Global Footer -->
    <footer class="container disclaimer padding-left-right-zero">
        <div class="row">
            <div class="col-md-8 col-xs-8">
                <p>Proprietary and Confidential. Not for disclosure outside of Verizon.</p>
            </div>
            <div class="col-md-4 col-xs-4">
                <p class="pull-right pull-mobile-none">Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                </p>
            </div>
        </div>
    </footer>

	<script src="../scripts/jquery.min.js"></script>
	<script src="../scripts/bootstrap.min.js"></script>
	<script src="../scripts/vzbootstrap.min.js"></script>
  </body>
</html>
