<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">
    <title>IPM Hackers| Verizon</title>
    <!-- Bootstrap core CSS -->
    <link href="../styles/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/vzbootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../scripts/html5shiv.min.js"></script>
      <script src="../scripts/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

        <!--Global Navigation-->
    <header class="vz-global-header">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
          </div>
        </div>
      </nav>
    </header>

    <div class="container whitepage">
      <!-- Primary Navigation section -->
      <div id="primary-nav">
        <div class="row">
          <div class="col-sm-6 col-xs-2">
            <div class="page-header hidden-xs">
              <h1>VZ Bootstrap VZGlyph Icons</h1>
              <ol class="breadcrumb hidden-xs">
                <li><a href="#">Home</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <!-- Global Content Section -->
      <div class="row">
        <div class="col-md-12">


          <div class="clearfix">
            
            <p class="col-md-2 text-center">
              <span>.vz-icon-move</span>
              <span class="vz-icon vz-icon-move"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-announcement</span>
              <span class="vz-icon vz-icon-announcement"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-assignment</span>
              <span class="vz-icon vz-icon-assignment"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-assignment-ind</span>
              <span class="vz-icon vz-icon-assignment-ind"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-cached</span>
              <span class="vz-icon vz-icon-cached"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-delete</span>
              <span class="vz-icon vz-icon-delete"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-done</span>
              <span class="vz-icon vz-icon-done"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-history</span>
              <span class="vz-icon vz-icon-history"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-note-add</span>
              <span class="vz-icon vz-icon-note-add"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-schedule</span>
              <span class="vz-icon vz-icon-schedule"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-search</span>
              <span class="vz-icon vz-icon-search"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-settings</span>
              <span class="vz-icon vz-icon-settings"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-swap-vert</span>
              <span class="vz-icon vz-icon-swap-vert"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-today</span>
              <span class="vz-icon vz-icon-today"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-work</span>
              <span class="vz-icon vz-icon-work"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-not-interested</span>
              <span class="vz-icon vz-icon-not-interested"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-email</span>
              <span class="vz-icon vz-icon-email"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-textsms</span>
              <span class="vz-icon vz-icon-textsms"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-vzp-key</span>
              <span class="vz-icon vz-icon-vpn-key"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-backspace</span>
              <span class="vz-icon vz-icon-backspace"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-create</span>
              <span class="vz-icon vz-icon-create"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-save</span>
              <span class="vz-icon vz-icon-save"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-send</span>
              <span class="vz-icon vz-icon-send"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-access-alarm</span>
              <span class="vz-icon vz-icon-access-alarm"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-add-alarm</span>
              <span class="vz-icon vz-icon-add-alarm"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-insert-chart</span>
              <span class="vz-icon vz-icon-insert-chart"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-desktop-windows</span>
              <span class="vz-icon vz-icon-desktop-windows"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-keyboard-arrow-down</span>
              <span class="vz-icon vz-icon-keyboard-arrow-down"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-keyboard-arrow-left</span>
              <span class="vz-icon vz-icon-keyboard-arrow-left"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-keyboard-arrow-right</span>
              <span class="vz-icon vz-icon-keyboard-arrow-right"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-keyboard-arrow-up</span>
              <span class="vz-icon vz-icon-keyboard-arrow-up"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-timelapse</span>
              <span class="vz-icon vz-icon-timelapse"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-timer</span>
              <span class="vz-icon vz-icon-timer"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-play-install</span>
              <span class="vz-icon vz-icon-play-install"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-share</span>
              <span class="vz-icon vz-icon-share"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-smile</span>
              <span class="vz-icon vz-icon-smile"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-sad</span>
              <span class="vz-icon vz-icon-sad"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-wondering</span>
              <span class="vz-icon vz-icon-wondering"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-overtime</span>
              <span class="vz-icon vz-icon-overtime"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-your-teams-time</span>
              <span class="vz-icon vz-icon-your-teams-time"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-your-time</span>
              <span class="vz-icon vz-icon-your-time"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-personal-time</span>
              <span class="vz-icon vz-icon-personal-time"></span></p>
            <p class="col-md-2 text-center">
              <span>.vz-icon-vacation</span>
              <span class="vz-icon vz-icon-vacation"></span></p>

            <style>
            .vz-icon{font-size: 50px;}
            p {margin: 0 0 35px;}
            p span {display: block;padding: 7px 0 0;}
            </style>

          </div>


        </div>
      </div>        
    </div><!-- /.container -->

    <!-- Global Footer -->
    <footer class="container disclaimer padding-left-right-zero">
        <div class="row">
            <div class="col-md-8 col-xs-8">
                <p>Proprietary and Confidential. Not for disclosure outside of Verizon.</p>
            </div>
            <div class="col-md-4 col-xs-4">
                <p class="pull-right pull-mobile-none">Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                </p>
            </div>
        </div>
    </footer>

  <script src="../scripts/jquery.min.js"></script>
  <script src="../scripts/bootstrap.min.js"></script>
  <script src="../scripts/vzbootstrap.min.js"></script>
  </body>
</html>
